@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*Estilos del Body*/
.bodyInicio {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  overflow-x: hidden; }
  .bodyInicio .bodyInicio::-webkit-scrollbar {
    width: 7px; }
    .bodyInicio .bodyInicio::-webkit-scrollbar .bodyInicio::-webkit-scrollbar-thumb {
      background-color: #09857e;
      border-radius: 5px; }

/*Contenedor Inicio*/
/*Menú*/
.contenedorInicio {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "logo menu" "principalInicio principalInicio"; }

.principalInicio {
  grid-area: principalInicio;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "textContainer model"; }
  .principalInicio .model {
    grid-area: model;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    height: 450px;
    width: 350px; }
  .principalInicio .textContainer {
    grid-area: textContainer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.12rem;
    margin-bottom: 10%; }
    .principalInicio .textContainer h3:nth-child(1) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: #6d6d6d;
      font-size: 1.6rem; }
    .principalInicio .textContainer h1:nth-child(2) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      color: #1a1a1a;
      font-size: 2.5rem; }
    .principalInicio .textContainer h3:nth-child(3) {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #403e3e;
      font-size: 1.8rem; }
    .principalInicio .textContainer h3:nth-child(4) {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #535151;
      font-size: 1.5rem; }
    .principalInicio .textContainer button {
      width: 8.2rem;
      height: 2.6rem;
      border-radius: 0.8rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      font-size: 0.9rem;
      outline: none;
      margin-left: 0.63rem; }
    .principalInicio .textContainer .contratar {
      border: 2px solid #373636;
      color: #373636; }
      .principalInicio .textContainer .contratar:hover {
        cursor: pointer; }
    .principalInicio .textContainer .curr {
      background-color: #09857e;
      color: #ffff;
      border: none; }
      .principalInicio .textContainer .curr:hover {
        cursor: pointer; }
    .principalInicio .textContainer button:active {
      transform: scale(1.1); }

.sobreContainer {
  width: 80%;
  height: 20.6rem;
  background-color: #ffff;
  border-radius: 1.25rem;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center; }
  .sobreContainer .yo {
    height: 15.6rem;
    border: 5px solid;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }
  .sobreContainer .sobreText {
    width: 35.3rem; }
    .sobreContainer .sobreText p:nth-child(1) {
      color: #403e3e;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 0px;
      margin-bottom: 1.87rem; }
    .sobreContainer .sobreText p:nth-child(2) {
      color: #09857e;
      font-size: 1rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      line-height: 0.32rem;
      margin-bottom: 2.5rem; }
    .sobreContainer .sobreText p:nth-child(3), .sobreContainer .sobreText p:nth-child(4) {
      color: #7e7d7d;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1rem;
      position: relative;
      bottom: 1.56rem; }
      .sobreContainer .sobreText p:nth-child(3) span, .sobreContainer .sobreText p:nth-child(4) span {
        color: #3e3d3d; }
    .sobreContainer .sobreText .mas-info {
      background-color: #09857e;
      color: #ffff;
      border: none;
      border-radius: 10px;
      padding: 10px;
      font-weight: bold; }
      .sobreContainer .sobreText .mas-info:hover {
        cursor: pointer; }
      .sobreContainer .sobreText .mas-info:active {
        transform: scale(1.1); }

.servicios {
  height: 37.5rem;
  background-color: #ffff;
  padding: 2% 10% 0px 20%; }
  .servicios .serviciosText {
    width: 31.25rem;
    margin-top: 3.13rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem; }
    .servicios .serviciosText p:nth-child(1) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: #3e3d3d;
      font-size: 1.9rem;
      line-height: 0px;
      margin-bottom: 1.87rem; }
    .servicios .serviciosText p:nth-child(2) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: #3e3d3d;
      font-size: 0.9rem;
      line-height: 5px;
      margin-bottom: 0.63rem; }
    .servicios .serviciosText p:nth-child(3) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #7e7d7d; }
    .servicios .serviciosText .cajaContainer {
      display: flex;
      justify-content: space-evenly; }
      .servicios .serviciosText .cajaContainer .cajaUno {
        width: 15.75rem;
        height: 17rem;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
        background-color: black;
        border: 2.5px solid #ffffff;
        border-radius: 1.25rem;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .servicios .serviciosText .cajaContainer .cajaUno span {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          border: 0.5px solid #ffff;
          background-color: #4b4747;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: bold;
          margin-top: 1.87rem;
          color: #ffff; }
        .servicios .serviciosText .cajaContainer .cajaUno p:nth-child(2) {
          color: #ffff;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 1.4rem;
          line-height: 0px;
          margin-bottom: 1.24rem;
          margin-top: 1rem; }
        .servicios .serviciosText .cajaContainer .cajaUno p:nth-child(3) {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          text-align: center;
          width: 14.3rem;
          margin-bottom: 1.25rem;
          color: #8f8f8f; }
        .servicios .serviciosText .cajaContainer .cajaUno button {
          background-color: #09857e;
          border: 0.5px solid #ffff;
          outline: none;
          border-radius: 0.31rem;
          padding: 0.5rem;
          position: relative;
          bottom: 0.31rem;
          color: #ffff; }
          .servicios .serviciosText .cajaContainer .cajaUno button button:hover {
            cursor: pointer;
            background-color: #bbf5f2;
            color: black; }
      .servicios .serviciosText .cajaContainer .cajaDos {
        width: 15.75rem;
        height: 17rem;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
        background-color: black;
        border: 2.5px solid #ffffff;
        border-radius: 1.25rem;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .servicios .serviciosText .cajaContainer .cajaDos span {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          border: 0.5px solid #ffff;
          background-color: #4b4747;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: bold;
          margin-top: 1.87rem;
          color: #ffff; }
        .servicios .serviciosText .cajaContainer .cajaDos p:nth-child(2) {
          color: #ffff;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 1.4rem;
          line-height: 0px;
          margin-bottom: 1.24rem;
          margin-top: 1rem; }
        .servicios .serviciosText .cajaContainer .cajaDos p:nth-child(3) {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          text-align: center;
          width: 14.3rem;
          margin-bottom: 1.25rem;
          color: #8f8f8f; }
        .servicios .serviciosText .cajaContainer .cajaDos button {
          background-color: #09857e;
          border: 0.5px solid #ffff;
          outline: none;
          border-radius: 0.31rem;
          padding: 0.5rem;
          position: relative;
          bottom: 0.31rem;
          color: #ffff; }
          .servicios .serviciosText .cajaContainer .cajaDos button button:hover {
            cursor: pointer;
            background-color: #bbf5f2;
            color: black; }
      .servicios .serviciosText .cajaContainer .cajaTres {
        width: 15.75rem;
        height: 17rem;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
        background-color: black;
        border: 2.5px solid #ffffff;
        border-radius: 1.25rem;
        display: flex;
        align-items: center;
        flex-direction: column; }
        .servicios .serviciosText .cajaContainer .cajaTres span {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          border: 0.5px solid #ffff;
          background-color: #4b4747;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-weight: bold;
          margin-top: 1.87rem;
          color: #ffff; }
        .servicios .serviciosText .cajaContainer .cajaTres p:nth-child(2) {
          color: #ffff;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          font-size: 1.4rem;
          line-height: 0px;
          margin-bottom: 1.24rem;
          margin-top: 1rem; }
        .servicios .serviciosText .cajaContainer .cajaTres p:nth-child(3) {
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          text-align: center;
          width: 14.3rem;
          margin-bottom: 1.25rem;
          color: #8f8f8f; }
        .servicios .serviciosText .cajaContainer .cajaTres button {
          background-color: #09857e;
          border: 0.5px solid #ffff;
          outline: none;
          border-radius: 0.31rem;
          padding: 0.5rem;
          position: relative;
          bottom: 0.31rem;
          color: #ffff; }
          .servicios .serviciosText .cajaContainer .cajaTres button button:hover {
            cursor: pointer;
            background-color: #bbf5f2;
            color: black; }

.contacto {
  width: 100%;
  height: 17.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/contacto.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contacto p {
    color: #ffff;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #ffff; }
  .contacto button {
    width: 12.5rem;
    height: 2.5rem;
    background-color: #09857e;
    color: #ffff;
    border: none;
    border-radius: 1.25rem;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 1.25rem; }
    .contacto button .contacto button:hover {
      cursor: pointer; }

footer {
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); }
  footer p {
    font-family: calibri; }
    footer p p:nth-child(1) {
      font-size: 2.3rem;
      font-weight: bold;
      color: #191919;
      line-height: 0.62rem;
      margin-bottom: 2.5rem; }
    footer p p:nth-child(2) {
      font-size: 1rem;
      color: #7e7d7d;
      width: 37.5rem;
      text-align: center; }
  footer .iconos {
    display: flex; }
    footer .iconos a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e6e3e3;
      margin: 1.25rem 0.63rem;
      border-radius: 50%;
      border: 0.5px solid rgba(0, 0, 0, 0.11);
      text-decoration: none; }
      footer .iconos a a:hover {
        background-color: #09857e;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        transition: all ease 0.5s; }
    footer .iconos i, footer .iconos .social i {
      color: #09857e; }
      footer .iconos i a:hover i, footer .iconos .social i a:hover i {
        color: #FFFFFF;
        transition: all ease 0.5s; }
  footer .copyright {
    color: #565555;
    font-size: 0.8rem;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%); }

/*Media Queries Movil*/
@media screen and (max-width: 480px) {
  .principalInicio .model {
    position: relative;
    right: 30px; }
  .principalInicio .textContainer {
    margin-left: 30px;
    margin-right: 20px;
    padding: 0px;
    position: relative;
    bottom: 60px; }
    .principalInicio .textContainer .textContainer h3:nth-child(1) {
      font-size: 20px; }
    .principalInicio .textContainer .textContainer h1:nth-child(2) {
      font-size: 25px; }
    .principalInicio .textContainer .textContainer h3:nth-child(3) {
      font-size: 15px; }
    .principalInicio .textContainer .textContainer h3:nth-child(4) {
      font-size: 15px; }
  .sobreContainer {
    height: 350px;
    width: 100%; }
    .sobreContainer .sobreText .sobreText p:nth-child(1) {
      font-size: 20px; }
    .sobreContainer .sobreText .sobreText p:nth-child(2) {
      font-size: 15px; }
    .sobreContainer .sobreText .sobreText p:nth-child(3) {
      font-size: 12px; }
    .sobreContainer .sobreText .sobreText p:nth-child(4) {
      font-size: 12px; }
    .sobreContainer .sobreContainer img {
      margin-bottom: 30px;
      margin-right: 10px;
      margin-left: 10px; }
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .servicios .serviciosText .serviciosText p:nth-child(2) {
      display: none; }
    .servicios .serviciosText .serviciosText p:nth-child(3) {
      display: none; }
    .servicios .cajaCointaner .cajaUno p:nth-child(3), .servicios .cajaCointaner .cajaDos p:nth-child(3), .servicios .cajaCointaner .cajaTres p:nth-child(3) {
      display: none; }
    .servicios .cajaCointaner .cajaUno, .servicios .cajaCointaner .cajaDos, .servicios .cajaCointaner .cajaTres {
      height: 160px;
      width: 300px; }
    .servicios .cajaCointaner .cajaUno span, .servicios .cajaCointaner .cajaDos span, .servicios .cajaCointaner .cajaTres span {
      display: none; }
    .servicios .cajaCointaner .cajaUno p:nth-child(2), .servicios .cajaCointaner .cajaDos p:nth-child(2), .servicios .cajaCointaner .cajaTres p:nth-child(2) {
      margin-top: 30px;
      font-size: 13px; }
    .servicios .cajaCointaner .cajaUno button, .servicios .cajaCointaner .cajaDos button, .servicios .cajaCointaner .cajaTres button {
      height: 50px;
      width: 50px;
      margin-top: 20px;
      font-size: 10px; }
  .contacto .contacto p {
    font-size: 25px; }
  footer footer p:nth-child(2) {
    font-size: 10px; } }

/*Media Queries Tablet*/
.principalInicio .textContainer {
  margin-top: 60px; }
  .principalInicio .textContainer .textContainer h3:nth-child(1) {
    font-size: 20px; }
  .principalInicio .textContainer .textContainer h1:nth-child(2) {
    font-size: 25px; }
  .principalInicio .textContainer .textContainer h3:nth-child(3) {
    font-size: 15px; }
  .principalInicio .textContainer .textContainer h3:nth-child(4) {
    font-size: 15px; }

.principalInicio .sobreContainer {
  height: 350px;
  width: 100%; }

.principalInicio .servicios {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .principalInicio .servicios .cajaCointaner .cajaUno p:nth-child(3), .principalInicio .servicios .cajaCointaner .cajaDos p:nth-child(3), .principalInicio .servicios .cajaCointaner .cajaTres p:nth-child(3) {
    display: none; }
  .principalInicio .servicios .cajaCointaner .cajaUno, .principalInicio .servicios .cajaCointaner .cajaDos, .principalInicio .servicios .cajaCointaner .cajaTres {
    height: 160px;
    width: 300px; }
  .principalInicio .servicios .cajaCointaner .cajaUno span, .principalInicio .servicios .cajaCointaner .cajaDos span, .principalInicio .servicios .cajaCointaner .cajaTres span {
    display: none; }
  .principalInicio .servicios .cajaCointaner .cajaUno p:nth-child(2), .principalInicio .servicios .cajaCointaner .cajaDos p:nth-child(2), .principalInicio .servicios .cajaCointaner .cajaTres p:nth-child(2) {
    margin-top: 30px;
    font-size: 13px; }
  .principalInicio .servicios .cajaCointaner .cajaUno button, .principalInicio .servicios .cajaCointaner .cajaDos button, .principalInicio .servicios .cajaCointaner .cajaTres button {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    font-size: 10px; }

/*Media Queries Contacto*/
@media (min-width: 700px) {
  .bodyContacto {
    padding: 0 4em; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }

.bodyContacto {
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 1.5em;
  height: 100vh; }
  .bodyContacto::-webkit-scrollbar {
    width: 7px; }
  .bodyContacto::-webkit-scrollbar-thumb {
    background-color: #09857e;
    border-radius: 5px; }

.content {
  margin-top: 100px; }
  .content .contact-form {
    background: #ffff; }
    .content .contact-form form {
      display: grid;
      grid-template-columns: 1fr 1fr; }
    .content .contact-form form label {
      display: block; }
    .content .contact-form form p {
      margin: 0;
      padding: 1em; }
    .content .contact-form form .block {
      grid-column: 1 / 3; }
    .content .contact-form form button,
    .content .contact-form form input,
    .content .contact-form form textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: black;
      border-bottom: 1px solid #09857e; }
    .content .contact-form form button {
      background: #09857e;
      border: 0;
      text-transform: uppercase;
      padding: 1em; }
      .content .contact-form form button form button:hover {
        cursor: pointer; }
      .content .contact-form form button form button:hover,
      .content .contact-form form button form button:focus {
        background: #09857e;
        color: #fff;
        transition: background-color 1s ease-out;
        outline: 0; }
    .content .contact-form .ulContacto {
      list-style: none;
      padding: 0; }
    .content .contact-form .contact-wrapper {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }
      .content .contact-form .contact-wrapper .contact-wrapper > * {
        padding: 1em; }
    .content .contact-form textarea {
      min-height: 30px;
      max-height: 200px;
      max-width: 100%;
      min-width: 100%; }
  .content {
    background: #bbf5f2;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2); }
    .content h4, .content ul, .content p {
      text-align: center;
      margin: 0 0 1rem 0; }
    .content .imgz {
      display: flex;
      justify-content: center;
      margin-top: 50px; }

.navbar {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  position: absolute; }
  .navbar .navbar-brand {
    font-size: 1.6rem;
    font-weight: 700; }
    .navbar .navbar-brand .navbar-toggler {
      color: #09857e; }
  .navbar .offcanvas-header {
    background-color: #f6f5f5;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2); }
    .navbar .offcanvas-header .offcanvas-title {
      font-size: 1.6rem;
      font-weight: 700; }
    .navbar .offcanvas-header .offcanvas-body .nav-item {
      height: fit-content;
      width: fit-content; }
      .navbar .offcanvas-header .offcanvas-body .nav-item .nav-item:active {
        transform: scale(1.1); }
      .navbar .offcanvas-header .offcanvas-body .nav-item .nav-item:hover {
        background-color: #09857e;
        height: fit-content;
        width: fit-content;
        border-radius: 5px;
        padding-left: 5px;
        padding-right: 8px; }
      .navbar .offcanvas-header .offcanvas-body .nav-item .imagen-nav {
        display: flex;
        justify-content: center;
        margin-top: 5%;
        opacity: 0.4; }
