@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*Estilos del Body*/
.bodyInicio {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  overflow-x: hidden; }
  .bodyInicio::-webkit-scrollbar {
    width: 7px; }
  .bodyInicio::-webkit-scrollbar-thumb {
    background-color: #09857e;
    border-radius: 5px; }

/*Contenedor Inicio*/
/*Menú*/
.contenedorInicio {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas: "logo menu" "principalInicio principalInicio"; }

.principalInicio {
  grid-area: principalInicio;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "textContainer model"; }
  .principalInicio .model {
    grid-area: model;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    height: 600px;
    width: 500px; }
  .principalInicio .textContainer {
    grid-area: textContainer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3.12rem;
    margin-bottom: 10%; }
    .principalInicio .textContainer h3:nth-child(1) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: #6d6d6d;
      font-size: 1.6rem; }
    .principalInicio .textContainer h1:nth-child(2) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      letter-spacing: 1px;
      color: #1a1a1a;
      font-size: 2.5rem; }
    .principalInicio .textContainer h3:nth-child(3) {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #403e3e;
      font-size: 1.8rem; }
    .principalInicio .textContainer h3:nth-child(4) {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #535151;
      font-size: 1.5rem; }
    .principalInicio .textContainer button {
      width: 8.2rem;
      height: 2.6rem;
      border-radius: 0.8rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      font-size: 0.9rem;
      outline: none;
      margin-left: 0.63rem; }
    .principalInicio .textContainer .contratar {
      border: 2px solid #373636;
      color: black; }
      .principalInicio .textContainer .contratar:hover {
        cursor: pointer; }
    .principalInicio .textContainer .curr {
      background-color: #09857e;
      color: #ffff;
      border: none; }
      .principalInicio .textContainer .curr:hover {
        cursor: pointer;
        color: black;
        border: 2px solid #09857e;
        background-color: #fff; }
    .principalInicio .textContainer button:active {
      transform: scale(1.1); }

.sobreContainer {
  width: 80%;
  height: 20.6rem;
  background-color: #ffff;
  border-radius: 1.25rem;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  margin: -7% auto 20px auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center; }
  .sobreContainer .yo {
    height: 18.6rem;
    border: 5px solid;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%); }
  .sobreContainer .sobreText {
    width: 35.3rem; }
    .sobreContainer .sobreText p:nth-child(1) {
      color: #403e3e;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      font-size: 1.6rem;
      line-height: 0px;
      margin-bottom: 1.87rem; }
    .sobreContainer .sobreText p:nth-child(2) {
      color: #09857e;
      font-size: 1rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bold;
      line-height: 0.32rem;
      margin-bottom: 2.5rem; }
    .sobreContainer .sobreText p:nth-child(3), .sobreContainer .sobreText p:nth-child(4) {
      color: #7e7d7d;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1rem;
      position: relative;
      bottom: 1.56rem; }
      .sobreContainer .sobreText p:nth-child(3) span, .sobreContainer .sobreText p:nth-child(4) span {
        color: #3e3d3d; }
    .sobreContainer .sobreText .mas-info {
      background-color: #09857e;
      color: #ffff;
      border: none;
      border-radius: 10px;
      padding: 10px;
      font-weight: bold; }
      .sobreContainer .sobreText .mas-info:hover {
        cursor: pointer;
        color: black;
        border: 2px solid #09857e;
        background-color: #fff; }
      .sobreContainer .sobreText .mas-info:active {
        transform: scale(1.1); }

.bodySobremi {
  background-color: #f1ebeb;
  overflow-x: hidden; }
  .bodySobremi::-webkit-scrollbar {
    width: 7px; }
  .bodySobremi::-webkit-scrollbar-thumb {
    background-color: #09857e;
    border-radius: 5px; }

.sobreMi {
  width: 100%;
  height: 100vh; }
  .sobreMi .contenidoSobremi {
    background-color: #fff;
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2); }
    .sobreMi .contenidoSobremi img {
      height: auto;
      width: 550px;
      max-width: 100%; }
    .sobreMi .contenidoSobremi .textSobremi {
      width: 550px;
      max-width: 100%;
      padding: 0 10px; }
      .sobreMi .contenidoSobremi .textSobremi h1 {
        color: #403e3e;
        font-size: 85px;
        margin-bottom: 20px; }
      .sobreMi .contenidoSobremi .textSobremi h2 {
        color: #09857e;
        font-size: 25px;
        margin-bottom: 25px;
        letter-spacing: 2px; }
      .sobreMi .contenidoSobremi .textSobremi p {
        color: #7e7d7d;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 45px; }
      .sobreMi .contenidoSobremi .textSobremi .social {
        display: flex; }
        .sobreMi .contenidoSobremi .textSobremi .social a {
          width: 2.5rem;
          height: 2.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e6e3e3;
          margin: 1.25rem 0.63rem;
          border-radius: 50%;
          border: 0.5px solid rgba(0, 0, 0, 0.11);
          text-decoration: none; }
          .sobreMi .contenidoSobremi .textSobremi .social a:hover {
            background-color: #09857e;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
            transition: all ease 0.5s; }
          .sobreMi .contenidoSobremi .textSobremi .social a:hover i {
            color: #FFFFFF;
            transition: all ease 0.5s; }
        .sobreMi .contenidoSobremi .textSobremi .social i {
          color: #09857e; }
        .sobreMi .contenidoSobremi .textSobremi .social .porfolio {
          background-color: #09857e;
          color: #ffff;
          border: 2px solid transparent;
          padding: 10px 30px;
          border-radius: 30px;
          font-size: 17px;
          font-weight: bold; }
          .sobreMi .contenidoSobremi .textSobremi .social .porfolio:hover {
            color: black;
            border: 2px solid #09857e;
            background-color: #fff; }
          .sobreMi .contenidoSobremi .textSobremi .social .porfolio:active {
            transform: scale(1.1); }

.servicios {
  height: 37.5rem;
  background-color: #ffff;
  padding: 2% 10% 0px 20%; }
  .servicios .serviciosText {
    width: 31.25rem;
    margin-top: 3.13rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem; }
    .servicios .serviciosText p:nth-child(1) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: #3e3d3d;
      font-size: 1.9rem;
      line-height: 0px;
      margin-bottom: 1.87rem; }
    .servicios .serviciosText p:nth-child(2) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: bold;
      color: #3e3d3d;
      font-size: 0.9rem;
      line-height: 5px;
      margin-bottom: 0.63rem; }
    .servicios .serviciosText p:nth-child(3) {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #7e7d7d; }
  .servicios .cajaContainer {
    display: flex;
    justify-content: space-evenly; }
    .servicios .cajaContainer .cajaUno {
      width: 15.75rem;
      height: 17rem;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
      background-color: black;
      border: 2.5px solid #ffffff;
      border-radius: 1.25rem;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .servicios .cajaContainer .cajaUno span {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0.5px solid #ffff;
        background-color: #4b4747;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        margin-top: 1.87rem;
        color: #ffff; }
      .servicios .cajaContainer .cajaUno p:nth-child(2) {
        color: #ffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.4rem;
        line-height: 0px;
        margin-bottom: 1.24rem;
        margin-top: 1rem; }
      .servicios .cajaContainer .cajaUno p:nth-child(3) {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        width: 14.3rem;
        margin-bottom: 1.25rem;
        color: #8f8f8f; }
      .servicios .cajaContainer .cajaUno button {
        background-color: #09857e;
        border: 0.5px solid #ffff;
        outline: none;
        border-radius: 0.31rem;
        padding: 0.5rem;
        position: relative;
        bottom: 0.31rem;
        color: #ffff; }
        .servicios .cajaContainer .cajaUno button:hover {
          cursor: pointer;
          color: #fff;
          border: 2px solid #09857e;
          background-color: black; }
        .servicios .cajaContainer .cajaUno button:active {
          transform: scale(1.1); }
    .servicios .cajaContainer .cajaDos {
      width: 15.75rem;
      height: 17rem;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
      background-color: black;
      border: 2.5px solid #ffffff;
      border-radius: 1.25rem;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .servicios .cajaContainer .cajaDos span {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0.5px solid #ffff;
        background-color: #4b4747;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        margin-top: 1.87rem;
        color: #ffff; }
      .servicios .cajaContainer .cajaDos p:nth-child(2) {
        color: #ffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.4rem;
        line-height: 0px;
        margin-bottom: 1.24rem;
        margin-top: 1rem; }
      .servicios .cajaContainer .cajaDos p:nth-child(3) {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        width: 14.3rem;
        margin-bottom: 1.25rem;
        color: #8f8f8f; }
      .servicios .cajaContainer .cajaDos button {
        background-color: #09857e;
        border: 0.5px solid #ffff;
        outline: none;
        border-radius: 0.31rem;
        padding: 0.5rem;
        position: relative;
        bottom: 0.31rem;
        color: #ffff; }
        .servicios .cajaContainer .cajaDos button:hover {
          cursor: pointer;
          color: #fff;
          border: 2px solid #09857e;
          background-color: black; }
        .servicios .cajaContainer .cajaDos button:active {
          transform: scale(1.1); }
    .servicios .cajaContainer .cajaTres {
      width: 15.75rem;
      height: 17rem;
      background-repeat: no-repeat;
      background-size: cover;
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
      background-color: black;
      border: 2.5px solid #ffffff;
      border-radius: 1.25rem;
      display: flex;
      align-items: center;
      flex-direction: column; }
      .servicios .cajaContainer .cajaTres span {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        border: 0.5px solid #ffff;
        background-color: #4b4747;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        margin-top: 1.87rem;
        color: #ffff; }
      .servicios .cajaContainer .cajaTres p:nth-child(2) {
        color: #ffff;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.4rem;
        line-height: 0px;
        margin-bottom: 1.24rem;
        margin-top: 1rem; }
      .servicios .cajaContainer .cajaTres p:nth-child(3) {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        width: 14.3rem;
        margin-bottom: 1.25rem;
        color: #8f8f8f; }
      .servicios .cajaContainer .cajaTres button {
        background-color: #09857e;
        border: 0.5px solid #ffff;
        outline: none;
        border-radius: 0.31rem;
        padding: 0.5rem;
        position: relative;
        bottom: 0.31rem;
        color: #ffff; }
        .servicios .cajaContainer .cajaTres button:hover {
          cursor: pointer;
          color: #fff;
          border: 2px solid #09857e;
          background-color: black; }
        .servicios .cajaContainer .cajaTres button:active {
          transform: scale(1.1); }

.bodyDisenio {
  background-color: #36a7a1; }
  .bodyDisenio::-webkit-scrollbar {
    width: 7px; }
  .bodyDisenio::-webkit-scrollbar-thumb {
    background-color: #09857e;
    border-radius: 5px; }

.disenio {
  width: 100%;
  height: 100vh;
  margin-top: 100px; }
  .disenio .contenidoDisenio {
    background-color: #fff;
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 20px black; }
    .disenio .contenidoDisenio .textDisenio {
      width: 550px;
      max-width: 100%;
      padding: 0 10px; }
      .disenio .contenidoDisenio .textDisenio h1 {
        color: #403e3e;
        font-size: 85px;
        margin-bottom: 20px; }
      .disenio .contenidoDisenio .textDisenio h2 {
        color: #09857e;
        font-size: 25px;
        margin-bottom: 25px;
        letter-spacing: 2px; }
      .disenio .contenidoDisenio .textDisenio p {
        color: #7e7d7d;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 45px; }
    .disenio .contenidoDisenio img {
      height: auto;
      width: 650px;
      max-width: 100%; }

.bodyProgramador {
  background-color: #36a7a1; }
  .bodyProgramador::-webkit-scrollbar {
    width: 7px; }
  .bodyProgramador::-webkit-scrollbar-thumb {
    background-color: #09857e;
    border-radius: 5px; }

.prog {
  width: 100%;
  height: 110vh;
  margin-top: 100px; }
  .prog .contenidoProg {
    background-color: #fff;
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 20px black; }
    .prog .contenidoProg .textProg {
      width: 550px;
      max-width: 100%;
      padding: 0 10px; }
      .prog .contenidoProg .textProg h1 {
        color: #403e3e;
        font-size: 85px;
        margin-bottom: 20px; }
      .prog .contenidoProg .textProg h2 {
        color: #09857e;
        font-size: 25px;
        margin-bottom: 25px;
        letter-spacing: 2px; }
      .prog .contenidoProg .textProg p {
        color: #7e7d7d;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 45px; }
    .prog .contenidoProg img {
      height: auto;
      width: 650px;
      max-width: 100%; }

.bodyMantenimiento {
  background-color: #36a7a1; }
  .bodyMantenimiento::-webkit-scrollbar {
    width: 7px; }
  .bodyMantenimiento::-webkit-scrollbar-thumb {
    background-color: #09857e;
    border-radius: 5px; }

.mantenimiento {
  width: 100%;
  height: 100vh;
  margin-top: 100px; }
  .mantenimiento .contenidoMantenimiento {
    background-color: #fff;
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 20px black; }
    .mantenimiento .contenidoMantenimiento .textMantenimiento {
      width: 550px;
      max-width: 100%;
      padding: 0 10px; }
      .mantenimiento .contenidoMantenimiento .textMantenimiento h1 {
        color: #403e3e;
        font-size: 85px;
        margin-bottom: 20px; }
      .mantenimiento .contenidoMantenimiento .textMantenimiento h2 {
        color: #09857e;
        font-size: 25px;
        margin-bottom: 25px;
        letter-spacing: 2px; }
      .mantenimiento .contenidoMantenimiento .textMantenimiento p {
        color: #7e7d7d;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 1px;
        margin-bottom: 45px; }
    .mantenimiento .contenidoMantenimiento img {
      height: auto;
      width: 650px;
      max-width: 100%; }

.contacto {
  width: 100%;
  height: 17.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/contacto.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contacto p {
    color: #ffff;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid #ffff; }
  .contacto button {
    width: 12.5rem;
    height: 2.5rem;
    background-color: #09857e;
    color: #ffff;
    border: none;
    border-radius: 1.25rem;
    outline: none;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 1.25rem; }
    .contacto button:hover {
      cursor: pointer;
      color: #ffff;
      border: 2px solid #09857e;
      background-color: #141313; }
    .contacto button:active {
      transform: scale(1.1); }

.bodyContacto {
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 1.5em;
  height: 100vh; }
  .bodyContacto::-webkit-scrollbar {
    width: 7px; }
  .bodyContacto::-webkit-scrollbar-thumb {
    background-color: #09857e;
    border-radius: 5px; }

.content {
  margin-top: 100px; }
  .content .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }
    .content .contact-wrapper .contact-wrapper > * {
      padding: 1em; }
    .content .contact-wrapper .contact-form {
      background: #ffff; }
      .content .contact-wrapper .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .content .contact-wrapper .contact-form form p {
          margin: 0;
          padding: 1em; }
          .content .contact-wrapper .contact-form form p label {
            display: block; }
          .content .contact-wrapper .contact-form form p input {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: black;
            border-bottom: 1px solid #09857e; }
        .content .contact-wrapper .contact-form form .block {
          grid-column: 1 / 3; }
          .content .contact-wrapper .contact-form form .block textarea {
            min-height: 30px;
            max-height: 200px;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: black;
            border-bottom: 1px solid #09857e; }
          .content .contact-wrapper .contact-form form .block button {
            background: #09857e;
            border: 0;
            text-transform: uppercase;
            padding: 1em;
            width: 100%; }
            .content .contact-wrapper .contact-form form .block button:hover {
              background: #09857e;
              color: #fff;
              transition: background-color 1s ease-out;
              outline: 0;
              cursor: pointer;
              transform: scale(1.1); }
    .content .contact-wrapper .contact-info {
      background: #bbf5f2;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2); }
      .content .contact-wrapper .contact-info h2 {
        text-align: center;
        margin: 0 0 1rem 0; }
      .content .contact-wrapper .contact-info .ulContacto {
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 0 0 1rem 0; }
      .content .contact-wrapper .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0; }
      .content .contact-wrapper .contact-info .imgz {
        display: flex;
        justify-content: center;
        margin-top: 50px; }

footer {
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%); }
  footer p {
    font-family: calibri; }
  footer p:nth-child(1) {
    font-size: 2.3rem;
    font-weight: bold;
    color: #191919;
    line-height: 0.62rem;
    margin-bottom: 2.5rem; }
  footer p:nth-child(2) {
    font-size: 1rem;
    color: #7e7d7d;
    width: 37.5rem;
    text-align: center; }
  footer .iconos {
    display: flex; }
    footer .iconos a {
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e6e3e3;
      margin: 1.25rem 0.63rem;
      border-radius: 50%;
      border: 0.5px solid rgba(0, 0, 0, 0.11);
      text-decoration: none; }
      footer .iconos a:hover {
        background-color: #09857e;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        transition: all ease 0.5s; }
      footer .iconos a:hover i {
        color: #FFFFFF;
        transition: all ease 0.5s; }
    footer .iconos i {
      color: #09857e; }
  footer .copyright {
    color: #565555;
    font-size: 0.8rem;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%); }

/*Media Queries Movil*/
@media screen and (max-width: 480px) {
  .principalInicio .model {
    position: relative;
    right: 30px; }
  .principalInicio .textContainer {
    margin-left: 30px;
    margin-right: 20px;
    padding: 0px;
    position: relative;
    bottom: 60px; }
    .principalInicio .textContainer h3:nth-child(1) {
      font-size: 20px; }
    .principalInicio .textContainer h1:nth-child(2) {
      font-size: 25px; }
    .principalInicio .textContainer h3:nth-child(3) {
      font-size: 15px; }
    .principalInicio .textContainer h3:nth-child(4) {
      font-size: 15px; }
  .sobreContainer {
    height: 350px;
    width: 100%; }
    .sobreContainer .sobreTextp:nth-child(1) {
      font-size: 20px; }
    .sobreContainer .sobreText p:nth-child(2) {
      font-size: 15px; }
    .sobreContainer .sobreText p:nth-child(3) {
      font-size: 12px; }
    .sobreContainer .sobreText p:nth-child(4) {
      font-size: 12px; }
    .sobreContainer img {
      margin-bottom: 30px;
      margin-right: 10px;
      margin-left: 10px; }
  .servicios {
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .servicios .serviciosText p:nth-child(2) {
      display: none; }
    .servicios .serviciosText p:nth-child(3) {
      display: none; }
    .servicios .cajaCointaner .cajaUno {
      height: 160px;
      width: 300px; }
      .servicios .cajaCointaner .cajaUno span {
        display: none; }
      .servicios .cajaCointaner .cajaUno p:nth-child(2) {
        margin-top: 30px;
        font-size: 13px; }
      .servicios .cajaCointaner .cajaUno p:nth-child(3) {
        display: none; }
      .servicios .cajaCointaner .cajaUno button {
        height: 50px;
        width: 50px;
        margin-top: 20px;
        font-size: 10px; }
    .servicios .cajaCointaner .cajaDos {
      height: 160px;
      width: 300px; }
      .servicios .cajaCointaner .cajaDos span {
        display: none; }
      .servicios .cajaCointaner .cajaDos p:nth-child(2) {
        margin-top: 30px;
        font-size: 13px; }
      .servicios .cajaCointaner .cajaDos p:nth-child(3) {
        display: none; }
      .servicios .cajaCointaner .cajaDos button {
        height: 50px;
        width: 50px;
        margin-top: 20px;
        font-size: 10px; }
    .servicios .cajaCointaner .cajaTres {
      height: 160px;
      width: 300px; }
      .servicios .cajaCointaner .cajaTres span {
        display: none; }
      .servicios .cajaCointaner .cajaTres p:nth-child(2) {
        margin-top: 30px;
        font-size: 13px; }
      .servicios .cajaCointaner .cajaTres p:nth-child(3) {
        display: none; }
      .servicios .cajaCointaner .cajaTres button {
        height: 50px;
        width: 50px;
        margin-top: 20px;
        font-size: 10px; }
  .contacto p {
    font-size: 25px; }
  footer p:nth-child(2) {
    font-size: 10px; } }

/*Media Queries Tablet*/
.principalInicio .textContainer {
  margin-top: 60px; }
  .principalInicio .textContainer .textContainer h3:nth-child(1) {
    font-size: 20px; }
  .principalInicio .textContainer .textContainer h1:nth-child(2) {
    font-size: 25px; }
  .principalInicio .textContainer .textContainer h3:nth-child(3) {
    font-size: 15px; }
  .principalInicio .textContainer .textContainer h3:nth-child(4) {
    font-size: 15px; }

.principalInicio .sobreContainer {
  height: 350px;
  width: 100%; }

.principalInicio .servicios {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .principalInicio .servicios .cajaCointaner .cajaUno p:nth-child(3), .principalInicio .servicios .cajaCointaner .cajaDos p:nth-child(3), .principalInicio .servicios .cajaCointaner .cajaTres p:nth-child(3) {
    display: none; }
  .principalInicio .servicios .cajaCointaner .cajaUno, .principalInicio .servicios .cajaCointaner .cajaDos, .principalInicio .servicios .cajaCointaner .cajaTres {
    height: 160px;
    width: 300px; }
  .principalInicio .servicios .cajaCointaner .cajaUno span, .principalInicio .servicios .cajaCointaner .cajaDos span, .principalInicio .servicios .cajaCointaner .cajaTres span {
    display: none; }
  .principalInicio .servicios .cajaCointaner .cajaUno p:nth-child(2), .principalInicio .servicios .cajaCointaner .cajaDos p:nth-child(2), .principalInicio .servicios .cajaCointaner .cajaTres p:nth-child(2) {
    margin-top: 30px;
    font-size: 13px; }
  .principalInicio .servicios .cajaCointaner .cajaUno button, .principalInicio .servicios .cajaCointaner .cajaDos button, .principalInicio .servicios .cajaCointaner .cajaTres button {
    height: 50px;
    width: 50px;
    margin-top: 20px;
    font-size: 10px; }

/*Media Queries Contacto*/
@media (min-width: 700px) {
  .bodyContacto {
    padding: 0 4em; }
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr; }
  .contact-wrapper > * {
    padding: 2em; }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left; } }

.bodyContacto {
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0 1.5em;
  height: 100vh; }
  .bodyContacto::-webkit-scrollbar {
    width: 7px; }
  .bodyContacto::-webkit-scrollbar-thumb {
    background-color: #09857e;
    border-radius: 5px; }

.content {
  margin-top: 100px; }
  .content .contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); }
    .content .contact-wrapper .contact-wrapper > * {
      padding: 1em; }
    .content .contact-wrapper .contact-form {
      background: #ffff; }
      .content .contact-wrapper .contact-form form {
        display: grid;
        grid-template-columns: 1fr 1fr; }
        .content .contact-wrapper .contact-form form p {
          margin: 0;
          padding: 1em; }
          .content .contact-wrapper .contact-form form p label {
            display: block; }
          .content .contact-wrapper .contact-form form p input {
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: black;
            border-bottom: 1px solid #09857e; }
        .content .contact-wrapper .contact-form form .block {
          grid-column: 1 / 3; }
          .content .contact-wrapper .contact-form form .block textarea {
            min-height: 30px;
            max-height: 200px;
            max-width: 100%;
            min-width: 100%;
            width: 100%;
            padding: .7em;
            border: none;
            background: none;
            outline: 0;
            color: black;
            border-bottom: 1px solid #09857e; }
          .content .contact-wrapper .contact-form form .block button {
            background: #09857e;
            border: 0;
            text-transform: uppercase;
            padding: 1em;
            width: 100%; }
            .content .contact-wrapper .contact-form form .block button:hover {
              background: #09857e;
              color: #fff;
              transition: background-color 1s ease-out;
              outline: 0;
              cursor: pointer;
              transform: scale(1.1); }
    .content .contact-wrapper .contact-info {
      background: #bbf5f2;
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2); }
      .content .contact-wrapper .contact-info h2 {
        text-align: center;
        margin: 0 0 1rem 0; }
      .content .contact-wrapper .contact-info .ulContacto {
        list-style: none;
        padding: 0;
        text-align: center;
        margin: 0 0 1rem 0; }
      .content .contact-wrapper .contact-info p {
        text-align: center;
        margin: 0 0 1rem 0; }
      .content .contact-wrapper .contact-info .imgz {
        display: flex;
        justify-content: center;
        margin-top: 50px; }

.contenedorInicio .navbar {
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  position: absolute; }
  .contenedorInicio .navbar .container-fluid .navbar-brand {
    font-size: 1.6rem;
    font-weight: 700; }
  .contenedorInicio .navbar .container-fluid .navbar-toggler {
    color: #09857e; }
  .contenedorInicio .navbar .container-fluid .offcanvas .offcanvas-header {
    background-color: #f6f5f5;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2); }
    .contenedorInicio .navbar .container-fluid .offcanvas .offcanvas-header .offcanvas-title {
      font-size: 1.6rem;
      font-weight: 700; }
  .contenedorInicio .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item {
    height: fit-content;
    width: fit-content; }
    .contenedorInicio .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item :active {
      transform: scale(1.1); }
    .contenedorInicio .navbar .container-fluid .offcanvas .offcanvas-body .navbar-nav .nav-item :hover {
      background-color: #09857e;
      height: fit-content;
      width: fit-content;
      border-radius: 5px;
      padding-left: 5px;
      padding-right: 8px; }
  .contenedorInicio .navbar .container-fluid .offcanvas .offcanvas-body .imagen-nav {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    opacity: 0.4; }
