/*Media Queries Movil*/

@media screen and (max-width: 480px ){
    .contendorInicio{
        .principalInicio{
            .model{
                position: relative;
                right: 30px;
            }
            .textContainer{
                margin-left: 30px;
                margin-right: 20px;
                padding: 0px;
                position: relative;
                bottom: 60px;
                & h3:nth-child(1){
                    font-size: 20px;
                }
                & h1:nth-child(2){
                    font-size: 25px;
                }       
                & h3:nth-child(3){
                    font-size: 15px;
                }
            
                & h3:nth-child(4){
                    font-size: 15px;
                }
                & button{
                    width: 6.2rem;
                    height: 1.6rem;
                }
            }
        }
    }

    .sobreContainer{
        height: 350px;
        width: 100%;
        & img{
            margin-bottom: 30px;
            margin-right: 10px;
            margin-left: 10px;
        }
        .sobreText{
            &p:nth-child(1){
                font-size: 20px;
            }
            & p:nth-child(2){
                font-size: 15px;
            }
            & p:nth-child(3){
                font-size: 12px;
            }
            & button{
                @include flex (flex, column, center);
            }
        }
    }
    .servicios{
        @include flex (flex, column, center);
        .serviciosText{
            & p:nth-child(2){
                display: none;
            }
            & p:nth-child(3){
                display: none;
            }
        }
        .cajaCointaner{
            .cajaUno{
                height: 160px;
                width: 300px;
                & span{
                    display: none;
                }
                & p:nth-child(2){
                    margin-top: 30px;
                    font-size: 13px;
                }
                & p:nth-child(3){
                    display: none;
                }
                & button{
                    height: 50px;
                    width: 50px;
                    margin-top: 20px;
                    font-size: 10px;
                }
            }
            .cajaDos{
                height: 160px;
                width: 300px;
                & span{
                    display: none;
                }
                & p:nth-child(2){
                    margin-top: 30px;
                    font-size: 13px;
                }
                & p:nth-child(3){
                    display: none;
                }
                & button{
                    height: 50px;
                    width: 50px;
                    margin-top: 20px;
                    font-size: 10px;
                }
            }
            .cajaTres{
                height: 160px;
                width: 300px;
                & span{
                    display: none;
                }
                & p:nth-child(2){
                    margin-top: 30px;
                    font-size: 13px;
                }
                & p:nth-child(3){
                    display: none;
                }
                & button{
                    height: 50px;
                    width: 50px;
                    margin-top: 20px;
                    font-size: 10px;
                }
            }
        }
    }
    .contacto{
        & p{
            font-size: 25px;
        }
    }
    footer{
        & p:nth-child(2){
            font-size: 10px;
        }
    }
}

/*Media Queries Tablet*/

.principalInicio{
    .textContainer{
        margin-top: 60px;
        & h3:nth-child(1){
            font-size: 20px;
        }
    
    
        & h1:nth-child(2){
            font-size: 25px;
        }
    
        & h3:nth-child(3){
            font-size: 15px;
        }
    
        & h3:nth-child(4){
            font-size: 15px;
        }
    }
    .sobreContainer{
        height: 350px;
        width: 100%;
    }

    .servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .cajaCointaner{
            .cajaUno{
                height: 160px;
                width: 300px;
                & span{
                    display:none;
                }
                & p:nth-child(2){
                    margin-top: 30px;
                    font-size: 13px;
                }
                & p:nth-child(3){
                    display:none;
                }
                & button{
                    height: 50px;
                    width: 50px;
                    margin-top: 20px;
                    font-size: 10px;
                }
            }
            .cajaDos{
                height: 160px;
                width: 300px;
                & span{
                    display:none;
                }
                & p:nth-child(2){
                    margin-top: 30px;
                    font-size: 13px;
                }
                & p:nth-child(3){
                    display:none;
                }
                & button{
                    height: 50px;
                    width: 50px;
                    margin-top: 20px;
                    font-size: 10px;
                }
            }
            .cajaTres{
                height: 160px;
                width: 300px;
                & span{
                    display:none;
                }
                & p:nth-child(2){
                    margin-top: 30px;
                    font-size: 13px;
                }
                & p:nth-child(3){
                    display:none;
                }
                & button{
                    height: 50px;
                    width: 50px;
                    margin-top: 20px;
                    font-size: 10px;
                }
            }
        } 
    }
}

/*Media Queries Contacto*/
@media(min-width: 700px) {
    .content{
        .contact-wrapper{
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        & > *{
            padding: 2em
        }
        .contact-info{
            & h4{
                text-align: left;
            }
            & ul{
                text-align: left;
            }
            & p{
                text-align: left;
            }
        }
    }    
}