.bodyProgramador{
    background-color: #36a7a1;
    &::-webkit-scrollbar{
        width: 7px;
    }
    
    &::-webkit-scrollbar-thumb{
        background-color: #09857e ;
        border-radius: 5px;
    }
}

.prog{
    width: 100%;
    height: 110vh;
    margin-top: 100px;
    .contenidoProg{
        background-color: #fff;
        width: 1280px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        box-shadow: 2px 2px 20px rgba(0,0,0,1);
        .textProg{
            width: 550px;
            max-width: 100%;
            padding: 0 10px;
            & h1{
                color: #403e3e;
                font-size: 85px;
                margin-bottom: 20px;
            }
            & h2{
                color: #09857e;
                font-size: 25px;
                margin-bottom: 25px;
                letter-spacing: 2px;
            }
            & p{
                color: #7e7d7d;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 1px;
                margin-bottom: 45px;
            }
        }
        & img{
            height: auto;
            width: 650px;
            max-width: 100%;
        }
    }
}