$colorPrincipal: #09857e;
$backgroundServicios:#36a7a1;
$tamanoTitulo: 85px;
$tamanoSubtitulo: 25px;
$tamanoParrafo:18px;
$fontPrincipal:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;